/* 
    Document   : homeCss
    Created on : Sep 16, 2013, 9:41:11 AM
    Author     : bit
    Description:
        Purpose of the stylesheet follows.
*/
table, td, th
{
border:1px solid green;
}

th
{
background-color:green;
color:white;
}

#center {
    text-align: center;
}

image {
    width: 550px;
    height: 330px;
}

#slideshow { 
    margin: 10px auto; 
    position: relative; 
    width: 550px; 
    height: 330px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#tab {
    padding-left: 75px;
    font-style: italic;
}

#italic {
    font-style: italic;
}

img.center {
    width: 180px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#a {
    text-decoration: none;
}
